@font-face {
	font-family: C800;
	src: local('C800'), url("font/C800.ttf") format("ttf"), url("font/C800.woff") format("woff");
}
@font-face {
	font-family: Geogrotesque-Medium;
	src: local('Geogrotesque-Medium'), url("font/Geogrotesque-Medium.woff") format("woff");
}
@font-face {
	font-family: Geogrotesque-Bold;
	src: local('Geogrotesque-Bold'), url("font/Geogrotesque-Bold.woff") format("woff");
}
:root {
box-sizing: border-box;
--vh: 1vh;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: rgba(255,255,0,1);
  font-family: Helvetica,Arial,sans-serif;
  color: rgba(246,246,246,1);
  margin: 0;
  overscroll-behavior-y: contain;
  overscroll-behavior: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: rgba(255,255,204,1);
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: rgba(255,255,255,0.5);
}
.container-in {
  width: 100%;
  height: calc(100% + 44px);
  position: fixed;
}
.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 100vw;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* height: 100vh;
  height: calc(var(--vh, 1vh) * 100); */
  }

/* Header */

  header {
  position: fixed;
  z-index: 1;
  top: 2.062em;
  margin-left: 0.312em;
  color: rgba(255,255,0,1);
  cursor: pointer;
}
svg {
  width: 4.2em;
  position: fixed;
  z-index: 1;
  top: 2.062em;
  right: 1em;
}
.arrow {
  width: 2.187em;
  height: 2.187em;
  background-color: rgba(255, 255, 0,1);
}
.arrow::after {
  content: '';
  border: 0.5em solid;
  border-color: rgba(34,34,33,1) transparent transparent;
  position: absolute;
  top: 30%;
  right: 17%;
  cursor: pointer;
  transform: rotate(-90deg);
}
.dropdown-menu {
  display: none;
  margin-top: 0;
  width: 2.187em;
  background-color: rgba(255,255,0,0.5);
}
.submenu {
  padding: 0.3em 0 0 0;
  margin: 0;
  list-style: none;
}
.submenu > li {
  margin-top: 0;
  padding-top: 0.4em;
}
.submenu > li > a {
  display: block;
  padding: .7em .35em;
  color: rgba(254,254,254,1);
  text-decoration: none;
}
.social > img {
  width: 25px;
  height: 25px;
}

.gallery-title-preview-inside > a.active {
  opacity: 1;
  transform: translate(0,-5px);
}

/* Main Gallery */

.gallery-preview {
  display: grid;
  grid-template-columns: repeat(6, 100vw);
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  grid-row: 1/3;
  position: relative;
  height: calc(100% + 44px);
}
.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
}

.slide-inside {
  display: none;
  height: 0;
  transition: 500ms ease-in-out height;
}
.none {
  display: none;
}
.block {
  display: block;
  height: 100%;
}
/* toggle main gallery overflow */
.autoY {
  overflow-y: auto;
}
.hiddenX {
  overflow-x: hidden;
}
.slide-inside > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  float: right;
}
.slide-inside > video {
  width: 100%;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  opacity: 1;
  transition: 700ms ease-in opacity;
}

/*height 0 mobile image */
.slide > img.transition {
  transition: 500ms ease-in-out height;
  margin-top: -100vh;
  transition: 700ms ease-in-out margin-top, 700ms ease-in opacity;
  opacity: 0
}
.tablet, .desktop {
  display: none;
}

/* Titles and Categories */

.categories {
  font-size: 0.812rem;
  font-family: 'Geogrotesque-Medium', sans-serif;
  text-transform: uppercase;
  display: flex;
  overflow: auto;
  margin-left: -0.625rem;
  color: hsla(224, 81%, 86%, 0.5);
}
.categories > span {
  padding: 0.812rem 1.625rem;

}
/* Dots */

.dots {
  margin: 1.13rem 0.5rem 1.437rem;
  display: inline-flex;
}
.dots > div {
  border-radius: 1em;
  background-color:hsla(224, 81%, 86%, 0.6);
  margin: 0 0.453rem;
  width: 0.375rem;
  height: 0.375rem;
}
.selected {
  background-color: hsl(224, 81%, 86%);
}

.gallery-title {
  width: 100%;
  position: absolute;
  transition: 100ms ease-in-out margin-bottom;
  grid-row: 2/3;
  bottom: 0;
  border-top: solid 1.2px hsl(224, 100%, 93%);
}

.description {
  position: relative;
  padding: 1.25rem 1rem 0;
}

.gallery-title-main {
  margin: 0;
  margin-bottom: 0.3rem;
}
.title.activeMain {
  display: inline-block;
  margin: 0;
  color: hsl(59, 100%, 75%);
}
.title {
  display: none;
  font-family: 'Geogrotesque-Medium', sans-serif;
  font-size: 1.375rem;
  line-height: 1.35;
  color: hsl(224, 81%, 86%);
}
.gallery-title-tag {
  margin: 0;
  color: hsl(224, 100%, 93%);
}
.tag {
  display: none;
  font-family: 'Geogrotesque-Medium', sans-serif;
  margin: 0;
}
.activeTag {
  display: block;
}

/*Arrow animation*/

.arrow-down-close {
  width: 1.997rem;
  height: 1.997rem;
  position: absolute;
  top: 0;
  right: 0.6rem;
  margin: 1.75rem 0 0;
}
.arrow-down-close:before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 4px;
  background-color: hsl(224, 61%, 90%);
  border-radius: 10px;
  position: relative;
  transition: 300ms ease-in-out transform;
}

.arrow-down-close:after {
  content: "";
  display: inline-block;
  height: 14px;
  width: 4px;
  background-color: hsl(224, 61%, 90%);
  border-radius: 10px;
  position: relative;
  transition: 300ms ease-in-out transform;
}

.arrow-down-close:before {
  transform: rotate(-45deg);
  left: 10px;
  top: 11px;
}
.arrow-down-close:after {
  transform: rotate(45deg);
  left: 15px;
  top: 11px;
}
.arrow-down-close.open:before {
  transform: translateX(5px) rotate(-45deg) scale(1.7);
  width: 3px;
  background-color: hsl(59, 100%, 65%);
}
.arrow-down-close.open:after {
  transform: translateX(-2px) rotate(45deg) scale(1.7);
  width: 3px;
  background-color: hsl(59, 100%, 65%);
}

.arrow-down-close.open {
}

/* Animation after click arrow */

.container.mod {
  overflow-y: hidden;
}

.gallery-title.mod {
  margin-bottom: -87px;
  transition: 300ms ease-in-out margin-bottom, 400ms ease-in background-color;
  background-color: hsl(224, 100%, 60%);
}
.section.mod {
  opacity: 0;
  transform: translateY(30px);
}

@media screen and (min-width: 537px) {
  .tablet {
    display: block;
  }
  .mobile, .desktop {
    display: none;
  }
  body {
    font-size: 1.2rem;
  }
  .title{
    font-size: 2.65rem;
  }
  .tag {
    font-size: 1.875rem;
  }
  .section {
    font-size: 1.375rem;
    grid-row: 1/3;
  }
  .dot > img {
    width: 8.125rem;
  }
  .mini {
    display: none;
  }
  .mini-tablet {
    display: block;
}
.gallery-title-preview-inside > a {
    margin-bottom: 0.312rem;
}
  .arrow-down-close {
    border-radius: 2em;
    width: 4.625rem;
    height: 4.625rem;
    top: 1.887rem;
  }
  .arrow-down-close:after {
    left: 2.39rem;
    top: 1.3rem;
    height: 1.875rem;
  }
  .arrow-down-close:before {
    left: 1.45rem;
    top: 1.3rem;
    height: 1.875rem;
  }
  .arrow-down-close.open:before {
    width: 4px;
    transform: translate(11px) rotate(45deg) scale(1.5);
  }
  .arrow-down-close.open:after {
    width: 4px;
    transform: translate(-7px) rotate(-45deg) scale(1.5);
  }

  /*Gallery title transition*/
  .gallery-title.mod {
    margin-bottom: -134px;
  }
}

@media screen and (min-width: 1024px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
.desktop {
  display: block;
}
header {
  margin-left: 0;
}
svg {
  width: 5.2em;
}
.arrow-down-close {

}
.gallery-preview {
  grid-row: 1/3;
  margin: 0;
}
.section {
  font-size: 1.475rem;
  grid-row: 2/3;
  margin-bottom: 130px;
  margin-left: 0;
}
.section > span {
  padding: 0.812rem 1.512rem 0 1.538rem;
}
.section > span + span {
  padding-right: 1.2rem;
}
.gallery-title {
  grid-row: 2/3;
  position: absolute;
  display: flex;
  bottom: 0;
  align-items: flex-end;
}
.gallery-title-main, .gallery-title-tag {
  margin: 0 1.25rem;
  width: auto;
}
.gallery-title-preview {
  margin: 0 1em 0 2em;
}
.description {
  display: inline-block;
  background-color: rgba(255,255,0,1);
  position: relative;
  width: 50%;
}
.arrow-down-close {
}
.dot > img {
  width: 4.5rem;
}
.title {
  font-size: 1.95rem;
}
.gallery-title.mod {
  margin-bottom: 0;
}
.gallery-title-preview {
  transition: 300ms ease-in-out margin-bottom;
  position: absolute;
  right: 0;
}
.gallery-title-preview.mod {
  transition: 300ms ease-in-out margin-bottom;
  margin-bottom: -130px;
}
.block {
  display: flex;
  height: 100%;
}
.slide-inside > img {
  width: auto;
  height: 100%;
  margin-bottom: 0;
}
.slide-inside > video {
  width: auto;
}
}
