@font-face {
	font-family: C800;
	src: local('C800'), url("font/C800.ttf") format("ttf"), url("font/C800.woff") format("woff");
}
@font-face {
	font-family: Geogrotesque-Medium;
	src: local('Geogrotesque-Medium'), url("font/Geogrotesque-Medium.woff") format("woff");
}
@font-face {
	font-family: Geogrotesque-Bold;
	src: local('Geogrotesque-Bold'), url("font/Geogrotesque-Bold.woff") format("woff");
}
:root {
box-sizing: border-box;
--vh: 1vh;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  background-color: rgba(255,255,0,1);
  font-family: Helvetica,Arial,sans-serif;
  color: rgba(246,246,246,1);
  margin: 0;
  overscroll-behavior-y: contain;
  overscroll-behavior: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: rgba(255,255,204,1);
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: rgba(255,255,255,0.5);
}
.container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 100vw;
  position: fixed;
  height: 100%;
  /*  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); */
}
header {
  position: fixed;
  z-index: 1;
  top: 2.062em;
  margin-left: 0.312em;
  color: rgba(255,255,0,1);
  cursor: pointer;
}
.arrow {
  width: 2.187em;
  height: 2.187em;
  background-color: rgba(255, 255, 0,1);
}
.arrow::after {
  content: '';
  border: 0.5em solid;
  border-color: rgba(34,34,33,1) transparent transparent;
  position: absolute;
  top: 30%;
  right: 17%;
  cursor: pointer;
  transform: rotate(-90deg);
}
.dropdown-menu {
  display: none;
  margin-top: 0;
  width: 2.187em;
  background-color: rgba(255,255,0,0.5);
}
.submenu {
  padding: 0.3em 0 0 0;
  margin: 0;
  list-style: none;
}
.submenu > li {
  margin-top: 0;
  padding-top: 0.4em;
}
.submenu > li > a {
  display: block;
  padding: .7em .35em;
  color: rgba(254,254,254,1);
  text-decoration: none;
}
.social > img {
  width: 25px;
  height: 25px;
}

.gallery-title-preview-inside > a.active {
  opacity: 1;
  transform: translate(0,-5px);
}

svg {
  width: 4.2em;
  position: fixed;
  z-index: 1;
  top: 2.062em;
  right: 1em;
}
.gallery-preview {
  display: grid;
  grid-template-columns: repeat(6, 100vw);
  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  grid-row: 1/2;
  margin: 0.312em;
  margin-bottom: 0;
}
.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  margin: 0 auto;
  overflow-y: hidden;
}

.slide-inside {
  display: none;
}
.none {
  display: none;
}
.block {
  display: block;
}
/* toggle main gallery overflow */
.autoY {
  overflow-y: auto;
}
.hiddenX {
  overflow-x: hidden;
}
.slide-inside > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-inside > video {
  width: 100%;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  opacity: 1;
  transition: 700ms ease-in opacity;
}

/*height 0 mobile image */
.slide > img.transition {
  transition: 500ms ease-in-out height;
  margin-top: -100vh;
  transition: 700ms ease-in-out margin-top, 700ms ease-in opacity;
  opacity: 0
}

.slide-title {
  position: absolute;
  bottom: 10%;
  width: 100%;
  padding: 0 1.625em;
  margin-bottom: 2rem;
}
.section {
  font-family: 'Geogrotesque-Medium',sans-serif;
  font-size: 0.937em;
  color: rgba(34,34,33,1);
  text-transform: uppercase;
  margin-left: 0.28rem;
  position: absolute;
  grid-row: 1/2;
  bottom: -1px;
  transition: 180ms ease-in-out opacity, 300ms ease-out transform;
  opacity: 1;
}
.section > span {
  background-color: rgba(255,255,0,1);
  padding: 0.812rem 0.312rem 0 0.438rem;
}
.section > span + span {
  padding-right: 0.8rem;
}
.tablet, .dekstop {
  display: none;
}
.menu {
  position: fixed;
  bottom: 0;
  margin: 1.55em auto;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  border-top: 1px solid rgba(246,246,246,0.4);
  border-bottom: 1px solid rgba(246,246,246,0.4);
}
.menu a {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.55rem 1.625rem;
}

.gallery-title {
  width: 100%;
  color: rgba(34,34,33,1);
  grid-row: 2/3;
  position: relative;
  transition: 100ms ease-in-out margin-bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gallery-title-main {
  margin: 0 0.75rem;
  width: 70%;
}
.gallery-title-tag {
  margin: 0 0.75rem;
  width: 70%;
}

.gallery-title-preview-inside {
  display: inline-flex;
  width: 100%;
  overflow: scroll;
  padding: 0.312em 0 0 0;
}

.gallery-title-preview-inside > a {
  cursor: pointer;
  opacity: 0.8;
  margin-bottom: 0;
}
.dot > img {
  margin-bottom: -5px;
  width: 69px;
}
.mini-tablet {
  display: none;
}
.title {
  display: none;
  font-family: 'C800', sans-serif;
  font-size: 1.16rem;
  margin: 0.812rem 0;
  line-height: 1.35;
}

.tag {
  display: none;
  font-family: 'Geogrotesque-Medium', sans-serif;
  font-size: 1.03rem;
  margin: 0 0 1.687rem 0;
}
.activeMain {
  display: block;
  margin: 1.287rem 0 0.4rem 0;
}
.activeTag {
  display: block;
}

/*Arrow animation*/

.arrow-down-close {
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  position: absolute;
  top: 1.287rem;
  right: 1.312rem;
  background-color: rgb(255, 255, 0);
  border-radius: 30px;
  border: solid 1px rgb(34,34,33);
}
.arrow-down-close:before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 4px;
  background-color: rgb(34, 34, 33);
  border-radius: 10px;
  position: relative;
  transition: 300ms ease-in-out transform;
}

.arrow-down-close:after {
  content: "";
  display: inline-block;
  height: 15px;
  width: 4px;
  background-color: rgb(34, 34, 33);
  border-radius: 10px;
  position: relative;
  transition: 300ms ease-in-out transform;
}

.arrow-down-close:before {
  transform: rotate(-45deg);
  left: 14px;
  top: 14px;
}
.arrow-down-close:after {
  transform: rotate(45deg);
  left: 19px;
  top: 14px;
}
.arrow-down-close.open:before {
  transform: translateX(5px) rotate(-45deg) scale(1.7);
  width: 3px;
  background-color: rgb(255, 255, 0);
}
.arrow-down-close.open:after {
  transform: translateX(-2px) rotate(45deg) scale(1.7);
  width: 3px;
  background-color: rgb(255, 255, 0);
}

.arrow-down-close.open {
  background-color: rgba(34,34,33,1);
}



.container.mod {
  overflow-y: hidden;
}

.gallery-title.mod {
  margin-bottom: -85px;
  transition: 300ms ease-in-out margin-bottom;
  background-color
}
.section.mod {
  opacity: 0;
  transform: translateY(30px);
}

@media screen and (min-width: 537px) {
  .tablet {
    display: block;
  }
  .mobile, .dekstop {
    display: none;
  }
  body {
    font-size: 1.2rem;
  }
  .title{
    font-size: 2.65rem;
  }
  .tag {
    font-size: 1.875rem;
  }
  .section {
    font-size: 1.375rem;
  }
  .dot > img {
    width: 8.125rem;
  }
  .mini {
    display: none;
  }
  .mini-tablet {
    display: block;
}
.gallery-title-preview-inside > a {
    margin-bottom: 0.312rem;
}
  .arrow-down-close {
    border-radius: 2em;
    width: 4.625rem;
    height: 4.625rem;
    top: 1.887rem;
  }
  .arrow-down-close:after {
    left: 2.39rem;
    top: 1.3rem;
    height: 1.875rem;
  }
  .arrow-down-close:before {
    left: 1.45rem;
    top: 1.3rem;
    height: 1.875rem;
  }
  .arrow-down-close.open:before {
    width: 4px;
    transform: translate(11px) rotate(45deg) scale(1.5);
  }
  .arrow-down-close.open:after {
    width: 4px;
    transform: translate(-7px) rotate(-45deg) scale(1.5);
  }

  /*Gallery title transition*/
  .gallery-title.mod {
    margin-bottom: -134px;
  }
}

@media screen and (min-width: 1366px) {
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
.dekstop {
  display: block;
}
}
